
<p-toast></p-toast>
<div class="back">
    <div class="  log-box" align="center">

        <form id="signinForm">
            <div class="row align-self-center">
                <div class="card-img">
           
                </div>
            </div>
            <div class="row align-self-center">
                <div class="mb-2">
                    <label class="form-label">Usuario *</label>
                    <input type="text" id="user" name="user" class="form-control" [(ngModel)]="credentials.username"
                        placeholder="Ingrese su usuario" required>
                </div>
            </div>
            <div class="row align-self-center">
                <div class="mb-2">
                    <label class="form-label">Contraseña *</label>
                    <input type="password" id="pass" name="pass" class="form-control" [(ngModel)]="credentials.password"
                        placeholder="Ingrese su contraseña." required>
                </div>
            </div>
            <br>
            <div class="row ">
                <p-button (onClick)="signUp()" styleClass="p-button-rounded" title="Ingresar a la plataforma."
                    label="Ingresar">
                </p-button>
            </div>

        </form>

    </div>
</div>