@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');

body {
    background-color: #00355f ;
    color: #00b637;
    height: auto;
}

header {
    background: #003063;
    border-bottom: #00ae00 solid;
    border-end-end-radius: 6px;
}

a  {
    font-family: 'Konkhmer Sleokchher', cursive;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

.navbar-lik {
    color:#00ae00;
}

a:hover {
  color: #00ae00;
}

li.selected a {
    color: #00ae00;
}

.navbar-nav {
    background-color: #003063;
    height: auto;
    border-radius: 9px;
}

label {
    font-family: 'Konkhmer Sleokchher', cursive;
    font-weight: bold;
    color : white;
   }

.container {
    height: auto;
    border-radius: 15px;
   }

footer {
    width: 100%;
    position:sticky; 
    bottom:0;
}

