<div class="back">
     
    <ng-template [ngIf]="loadingData" [ngIfElse]="elseBLock">      
        <h2> <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i> Cargando ...</h2>
    </ng-template>
    <ng-template #elseBLock>

        <div *ngFor="let item of listaPost; let i = index">
            <ng-container *ngTemplateOutlet="itemTemplate; context: {$implicit: item, index: i}"></ng-container>
        </div>
          
          <ng-template #itemTemplate let-item let-index="index">

            <p-card header="{{ item.title }}">
            <div class="card-group">
                <div class="flex flex-column md:align-items-end gap-5">
                    <img class="block xl:block mx-auto border-round w-full" src="{{item.thread.main_image}}">
               
                </div>
                <div class="card">
                    <p class="m-0">
                        {{item.highlightText}}
                    </p>
                    <p-button> Ver detalle</p-button>
                </div>
            
            </div>
        </p-card>

      
          </ng-template>
          <br>



    </ng-template>
    
  

      
    
 </div>

 